<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    {{!-- Title Font --}}
    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
    {{!-- Subtitles Font --}}
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    {{!-- Buttons Font --}}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <title>Eat Da Burger !</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <img src="/assets/img/burger.jpg" id="happy_burger" height="300px" width="300px">

    {{{ body }}}
</body>

 {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script>

</html>