<div class="row">
    <div class="col-6 text-left">
        <img src="/assets/img/burger.jpg" id="happy_burger" height="300px" width="300px">
    </div>

    <div class="col-6 text-center">
        <h1 id="title">Eat Da </h1><br>
        <h1 id="burger-title"> Burger !</h1>
    </div>
</div>

<div id="burger-options">
    <div class="row">
  <div class="col-1">
        </div>
        <div class="col-3 text-center">
            <h2 class="subtitles">Burger Options</h2>
                <form id="eatburger" class="button-size">
                    
                        {{#each burgers}} <hr>
                        {{#unless eaten}} 
                    <span>
                        {{this.burger}}<button type="submit" id="eat-button" data-id="{{burger.id}}">Eat Burger !</button>
                    </span>
                        {{/unless}} 
                        {{/each}} <hr>
                  
                </form>
        </div>

        <div class="col-1">
        </div>

        <div class="col-3 text-center">
            <div id="create-box">

            <h2 class="subtitles">Create a Burger</h2>
                <form id="createburger" class="button-size" action="/api/burgers" method="POST">
                    <textarea type="text" name="burger" id="text-box"
                    placeholder="Put your burger order in here!"></textarea><br>
                        <button type="submit" id="create-button">Give me my burger !</button>
                </form>
        </div>
    </div>

    <div class="col-1">
        </div>

        <div class="col-3 text-center">
            <div id="delete-order">

            <h2 class="subtitles">Delete Order</h1>
                {{#each burgers}}
                {{#if eaten}}
            <h3>
                <span>
                    {{this.burger}}<button class="delete-burger" data-id="{{this.id}}">Delete burger order</button>
                </span>
            </h3>
                {{/if}}
                {{/each}}
        </div>
    </div>

</div>

 


