#happy_burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    margin-bottom: 50px;
}

#title {
    text-align: left;
    font-size: 100px;
    font-family: 'Barriecito', cursive;
    overflow: auto;
    display: block;
}

#burger-title {
    font-size: 85px;
    text-align: left;
    font-family: 'Barriecito', cursive;
    margin-bottom: 150px;
    overflow: auto;
    display: block;
}

.subtitles {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

#create-button {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

#eat-button {
    background-color: rgb(199, 11, 11);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin: 10px auto 10px;


}

#create-box {
    text-align: center;
}

#text-box {
    padding: 10px;
    margin: 30px;
    text-align: center;
    border: #4CAF50 2px solid;
    color: rgb(199, 78, 23);
    font-weight: bold;

}

.card-body {
    height: auto;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
}

#eaten {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
    font-size: 32px;

}


@media screen and (max-width: 980px) {
    .wrapper{
        width:600px;
      }
}

@media screen and (max-width: 768px) {
    .wrapper{
        width:600px;
      }
    }

@media screen and (max-width: 640px) {
    header {
        position: static;
    }

    .wrapper{
        width:600px;
      }
    }